<h1>Welcome to Car Simulator 3.0</h1>
<hr/>
<form action="create_car" method="get">
    <input type="text" name="name"/>
    <input type="text" name="year"/>
    <input type="submit" value="Create Car"/>

</form>
<h2><%= @car_status %></h2>
