<h1>New User Registration</h1>

<%= flash[:invalid] %>

<form action="newuser" method="post" name="user" class="new_user">
    <label>Full Name</label>
    <input type = "text" name = "name"/></br>
    <label>Street Address</label>
    <input type = "text" name = "address"/></br>
    <label>City</label>
    <input type = "text" name = "city"/></br>
    <label>State</label>
    <input type = "text" name = "state"/></br>
    <label>Zipcode</label>
    <input type = "number" name = "zipcode"/></br>
    <label>Country</label>
    <input type = "text" name = "country"/></br>
    <label>Email Address</label>
    <input type = "email" name = "email"/></br>
    <label>User Name</label>
    <input type = "text" name = "username" required/></br>
    <label>Password</label>
    <input type = "text" name = "password" required/></br>
    <input type = "submit" value = "Submit"/>
</form>
